/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer p {
    text-align: center;
    padding: 32px;
}

footer p a {
    transition: all .5s;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -114px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.footer-container,
.page-wrap:after {
    /* .push must be the same height as footer */
    height: 114px;
}

.footer-container {
    background: orange;
}