<div class="footer-container">
    <footer>
        <div class="row">
            <div class="column column-left">
                <div class="logo">
                    <img
                        src="https://static-cdn.jtvnw.net/jtv_user_pictures/callowcreation-profile_image-d35d1ca5e62d7a16-300x300.png">
                </div>
            </div>
            <div class="column column-center">
                <div class="information">
                    <div>
                        <i class="fab fa-twitch fa-2x" style="color: #333333;"></i>
                        <i class="fab fa-twitter fa-2x" style="color: #55acee;"></i>
                        <i class="fab fa-github fa-2x" style="color: #333333;"></i>
                        <i class="fab fa-youtube fa-2x" style="color: #ed302f;"></i>
                    </div>
                    <div>
                        <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> | <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="column column-right">
                <div class="copyright">
                    <p>© 2022 caLLowCreation</p>
                </div>
            </div>
        </div>
    </footer>
</div>