
/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer p {
    text-align: center;
    margin: 30px 0px;
}

footer p a {
    transition: all .5s;
}

.footer-container {
    position: relative; 
    bottom: -100px; 
    width: 100%;
}