
/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer p {
    text-align: center;
    margin: 30px 0px;
}

footer p a {
    color: #33ccc5;
    transition: all .5s;
}

footer p a:hover {
    color: #4771cb;
}

.footer-container {
    position: fixed; 
    bottom: 0; 
    width: 100%;
}