<!-- ***** Header Area Start ***** -->
<header class="area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <h4><img src="logo_1.svg" /> Shoutouts for Streamers</h4>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" [ngClass]="{'show': showMenu === true, 'hide': showMenu !== true}">
                        <li><a [routerLink]="['/']" (click)="showMenu = false">Home</a></li>
                        <li><a [routerLink]="['/features']" (click)="showMenu = false">Features</a></li>
                        <li><a [routerLink]="['/configuration']" (click)="showMenu = false">Configuration</a></li>
                    </ul>
                    <a class='menu-trigger' (click)="showMenu = !showMenu">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
