<header class="_h">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="_n">
                    <a href="index.html" class="logo">
                        <h4><img src="logo_1.svg" /> Shoutouts for Streamers</h4>
                    </a>
                    <ul class="nav" [ngClass]="{'show': showMenu === true, 'hide': showMenu !== true}">
                        <li *ngFor="let route of routes">
                            <a [routerLink]="[route.path]" (click)="showMenu = false">{{route.title}}</a>
                        </li>
                    </ul>
                    <a class='_m' (click)="showMenu = !showMenu">
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
