.example-spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none !important;
}

img {
    width: 100%;
    overflow: hidden;
}

.logo h4 img {
    max-width: 50px;
    transform: translateY(12px);
}

@media (max-width: 1200px) {
    .logo h4 {
        font-size: 30px;
    }

    .logo h4 img {
        margin-left: 10px;
    }
}

@media (max-width: 830px) {
    .logo h4 {
        font-size: 26px;
    }

    .logo h4 img {
        /* max-width: 30px; */
        margin-left: 5px;
    }
}

.logo h4 {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 800;
    text-transform: capitalize;
    color: #fff;
    line-height: 100px;
    float: left;
    transition: all 0.3s ease 0s;
}