<section class="page-section">
    <app-section-header>Features</app-section-header>
    <mat-accordion>
        <app-help-panel title="Customize" descriptionOpened="Branding colors" descriptionClosed="Customizable branding colors">
            <mat-panel-description>
                <p>Make Shoutouts for Streamers fit your branding. Modify the extension typography. Change the colors of the
                    font, borders and background.</p>
            </mat-panel-description>
        </app-help-panel>
        <app-help-panel title="Commands" descriptionOpened="!so caLLowCreation" descriptionClosed="!so [username]">
            <mat-panel-description>
                <p>Shoutouts for Streamers has two built-in shoutout commands. If your community uses another command to
                    give a shoutout, we got you covered. Add more commands to trigger Shoutouts for Streamers.</p>
            </mat-panel-description>
        </app-help-panel>
        <app-help-panel title="EZ Install" descriptionOpened="It Just Works" descriptionClosed="Plug & Play">
            <mat-panel-description>
                <p>No configuration required. Just install Shoutouts for Streamers from your Twitch dashboard and that's
                    it.
                    You can make modifications but you don't need to do a thing after the installation, it just works.
                </p>
            </mat-panel-description>
            <app-install></app-install>
        </app-help-panel>
    </mat-accordion>
    <mat-card class="example-card" style="margin-bottom: 10px; margin-top: 10px;">
        <mat-card-header>
            <mat-card-title>Try it for yourself</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center; padding: 20px;">
            <div>
                Are you curious about how it would look on your Twitch page?
            </div>
        </mat-card-content>

        <app-legacy-view></app-legacy-view>

    </mat-card>
</section>