* {
    transition: all 0.25s ease-out;
}

.container {
    text-align: center;
    padding-top: 1px;
}

.header {
    padding-left: 20px;
    font-weight: 600;
    font-size: large;
}

.card-margins {
    margin-top: 10px;
}

.twitch-theme-light {
    background-color: #F7F7F8;
    color: #0E0E10;
}

.twitch-theme-dark {
    background-color: #0E0E10;
    color: #EFEFF1;
}