* {
    transition: all 0.25s ease-out;
}

.container {
    text-align: center;
    padding-top: 1px;
}

.header {
    padding-left: 20px;
    font-weight: 600;
    font-size: large;
}

.card-margins {
    margin-top: 10px;
}
