<section class="page-section">
    <app-section-header>FAQ</app-section-header>
    <mat-accordion>
        <app-faq-panel title="Install" description="How to install.">
            <app-install></app-install>
        </app-faq-panel>
        <app-faq-panel title="Contact" description="How to contact.">
            <mat-panel-description>
                How do I contact the developers? <i>In the footer or the button below ... </i>
            </mat-panel-description>
            <button mat-raised-button color="primary"
            style="float: right;" (click)="popup.contactUs()">Contact Us</button>
        </app-faq-panel>
        <app-faq-panel *ngFor="let panel of panels"  title="{{panel.title}}" description="{{panel.summary}}">
            {{panel.description}}
        </app-faq-panel>
    </mat-accordion>
</section>