<section class="page-section">
    <!-- <app-section-header>Welcome to Shoutouts for Streamers</app-section-header> -->
    
    <mat-card>
        <mat-card-content>
            <div style="text-align: justify;">
                Shoutouts for Streamers will keep the streamers' shoutouts alive on their Twitch page for all viewers to see.  There is nothing extra to do to get the extension functional on a channel, just install and continue to use your current shoutout system.  Only the broadcaster and channel mods can add shoutouts to the list.
            </div>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card" style="margin-bottom: 10px;">
        <mat-card-header>
            <mat-card-title>Branding Examples</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: justify;">
            <p>
                Below see branding from other broadcasters using Shoutouts for Streamers.  These are chosen randomly from all the installed extensions.
            </p>
        </mat-card-content>
    </mat-card>
    <app-embedded></app-embedded>

    <!-- <mat-card>
        <mat-card-content>
            <div style="text-align: center;">
                <img style="max-width: 580px;" src="https://callowcreation.com/static/6b0e3ec080ddf2b9d2e5888accd0c5b3/2d898/shoutouts-for-streamers-banner.webp" alt="Shoutouts for Streamers Banner" loading="lazy">
            </div>    
        </mat-card-content>
    </mat-card> -->
    
    <mat-card style="margin-bottom: 20px;">
        <mat-card-content>
            <app-install></app-install>
        </mat-card-content>
    </mat-card>
</section>  