<section class="page-section">
    <h1>Help Resource</h1>
    
    <div>
        <label for="topic">Search for a topic: </label>
        <input type="text" id="topic" [(ngModel)]="topic" />
        <button (click)="search()">Search</button>
    </div>
    <p>Welcome to shoutouts for streamers.  Shoutouts for Streamers will keep the streamers shoutouts alive on their Twitch page for all viewers to see.  There is nothing extra to do to get the extension functional on a channel, just install and continue to use your current shoutout system.  Only the broadcaster and channel mods can add shoutouts to the list.</p>
    <h1>Features</h1>
    
    <ul>
        <li>Customizable colors</li>
        <li>Use !so command</li>
        <li>No configuration requred</li>
    </ul>
    <h1>Viewer Summary</h1>
    <p>See the last streamers that your favorite broadcasters shouted out.</p>
    <h1>Submission Walk-through</h1>

    <ol>
        <li>Install the extension</li>
        <li>Configure font and background colors (Optional)</li>
        <li>Use the shoutout command in chat</li> 
    </ol>
</section>


