<section class="page-section">
    
    <div style="text-align: center;">
        <h1>Welcome to Shoutouts for Streamers</h1>
    </div>
    <mat-card>
        <mat-card-content>
            <div style="text-align: justify;">
                Shoutouts for Streamers will keep the streamers shoutouts alive on their Twitch page for all viewers to see.  There is nothing extra to do to get the extension functional on a channel, just install and continue to use your current shoutout system.  Only the broadcaster and channel mods can add shoutouts to the list.
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div>
                <img style="max-width: 464px;" src="https://callowcreation.com/static/6b0e3ec080ddf2b9d2e5888accd0c5b3/2d898/shoutouts-for-streamers-banner.webp" alt="Shoutouts for Streamers Banner" loading="lazy">
            </div>    
        </mat-card-content>
    </mat-card>
    
    <mat-card style="margin-bottom: 20px;">
        <mat-card-content>
            <div style="text-align: center; margin-bottom: 10px;">
                <div style="padding: 5px; margin-bottom: 10px;">Want to try Shoutouts for Streamers on your Twitch channel?</div>
                <button name="install-btn" mat-raised-button>Install</button>
            </div> 
        </mat-card-content>
    </mat-card>

</section>  