<section class="page-section">
    <mat-card>
        <div class="page-section-header">
            <mat-card-title>
                <h1>Features</h1>
            </mat-card-title>
        </div>
    </mat-card>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStates[0] = true" (closed)="panelOpenStates[0] = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Customize
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenStates[0] ? 'Branding colors' : 'Customizable branding colors'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Make Shoutouts for Streamers fit your branding. Modify the extension typography. Change the colors of the
                font, borders and background.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenStates[1] = true" (closed)="panelOpenStates[1] = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Commands
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenStates[1] ? '!so caLLowCreation' : '!so [username]'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Shoutouts for Streamers has two built in shoutout commands.  If your community uses another command to give a shoutout, we got you covered.  Add more commands to trigger Shoutouts for Streamers.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenStates[2] = true" (closed)="panelOpenStates[2] = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    EZ Install
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenStates[2] ? 'It Just Works' : 'Plug & Play'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>No configuration requred.  Just install Shoutouts for Streamers from your Twitch dashboard and that's it.  You can make modifications but you don't need to do a thing after the installation, it just works.</p>
        </mat-expansion-panel>
    </mat-accordion>
</section>