@import "../templates/legacy/legacy.component.scss";


.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.user-icon {
    width: 52px;
    height: 52px;
    margin-right: 0px !important;
    border-radius: 50%;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.twitch {
    background-color: #9146FF;
    color: #FFFFFF;
}

.twitch-theme-light {
    background-color: #F7F7F8;
    // color: #0E0E10;
}

.twitch-theme-dark {
    background-color: #0E0E10;
    // color: #EFEFF1;
}

.twitch-theme-light-font {
    color: #0E0E10;
}

.twitch-theme-dark-font {
    color: #EFEFF1;
}