<app-appearance [buttonsTemplate]="altButtonsTemplate" [dataSource]="{form: forms.appearance, description: 'Click here to try out your branding colors.', expanded: false}"></app-appearance>
<app-legacy [dataSource]="{legacy: forms.appearance, guests}"></app-legacy>

<ng-template #altButtonsTemplate>
    <div style="text-align: left; margin: 10px;">
        <button mat-raised-button [disabled]="!forms.appearance.valid"
            color="accent" style="float: left; margin-right: 5px;" (click)="randomize()">Randomize</button>

        <button mat-raised-button [disabled]="!forms.appearance.valid" color="primary"
            style="float: left;" (click)="reset()">Reset</button>
    </div>
</ng-template>