<section class="page-section">
    <app-section-header>Statistics</app-section-header>
    <div [@.disabled]="true" style="min-height: 310px;">
        <mat-tab-group #tabGroup dynamicHeight (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Shoutouts">
                <table matSort (matSortChange)="sortTab($event, 'guests')" style="width: 100%;">
                    <tr>
                        <th mat-sort-header="login">Streamer</th>
                        <th mat-sort-header="total">Total</th>
                    </tr>

                    <tr *ngFor="let statistic of sorted.guests">
                        <td>{{statistic.login}}</td>
                        <td>{{statistic.total}}</td>
                    </tr>
                </table>
            </mat-tab>

            <mat-tab label="Posted By">
                <table matSort (matSortChange)="sortTab($event, 'posted_bys')" style="width: 100%;">
                    <tr>
                        <th mat-sort-header="login">Poster</th>
                        <th mat-sort-header="total">Total</th>
                    </tr>

                    <tr *ngFor="let statistic of sorted.posted_bys">
                        <td>{{statistic.login}}</td>
                        <td>{{statistic.total}}</td>
                    </tr>
                </table>
            </mat-tab>

            <mat-tab label="First">
                <table matSort (matSortChange)="sortTab($event, 'firsts')" style="width: 100%;">
                    <tr>
                        <th mat-sort-header="login">Poster</th>
                        <th mat-sort-header="streamer">Streamer</th>
                        <th mat-sort-header="timestamp">Timestamp</th>
                    </tr>

                    <tr *ngFor="let statistic of sorted.firsts">
                        <td>{{statistic.login}}</td>
                        <td>{{statistic.streamer}}</td>
                        <td>{{statistic.timestamp | date}}</td>
                    </tr>
                </table>
            </mat-tab>

            <mat-tab label="Recent">
                <table matSort (matSortChange)="sortTab($event, 'recents')" style="width: 100%;">
                    <tr>
                        <th mat-sort-header="login">Poster</th>
                        <th mat-sort-header="streamer">Streamer</th>
                        <th mat-sort-header="timestamp">Timestamp</th>
                    </tr>

                    <tr *ngFor="let statistic of sorted.recents">
                        <td>{{statistic.login}}</td>
                        <td>{{statistic.streamer}}</td>
                        <td>{{statistic.timestamp | date}}</td>
                    </tr>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>
    <mat-card class="page-card" style="margin-bottom: 10px;">
        <mat-card-content style="text-align: justify;">
            <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
        </mat-card-content>
    </mat-card>

</section>