/* You can add global styles to this file, and also import other style files */

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
    height: 100%;
    background: #fff;
    font-family: sans-serif;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::selection {
    background: #03a4ed;
    color: #fff;
}

::-moz-selection {
    background: #03a4ed;
    color: #fff;
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }

    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .mobile-bottom-fix {
        margin-bottom: 30px;
    }

    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

.page-section {
    margin: auto;
    width: 500px;
    margin-top: 120px;
    position: relative;
    min-height: calc(100vh - 400px);
    // background-color:hotpink;
}
