.form-fit {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    margin: 0;
    background-color: transparent !important;
}

.header {
    padding-left: 20px;
    font-weight: 600;
    font-size: large;
}

.card-margins {
    margin-top: 10px;
}

.card-divider {
    border-width: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}