.example-form {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
}

.example-full-width {
    width: 100%;
    padding: 10px;
}

.header {
    padding-left: 20px;
}

.card-margins {
    margin-top: 10px;
}