<section class="page-section">
    <app-section-header>Configuration</app-section-header>
    <mat-divider [ngStyle]="{'border-color': form.appearance.value['border-color']}"
        style="border-width: 3px;"></mat-divider>
    <form [formGroup]="form.appearance" (ngSubmit)="onSubmit(form.appearance)">
        <mat-expansion-panel hideToggle
            [ngStyle]="{'color': form.appearance.value['color'], 'background-color': form.appearance.value['background-color']}">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="header" [ngStyle]="{'color': form.appearance.value['color']}">Appearance</div>
                </mat-panel-title>
                <mat-panel-description [ngStyle]="{'color': form.appearance.value['color']}">
                    Modify branding colors.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider [ngStyle]="{'border-color': form.appearance.value['border-color']}"
                style="border-width: 3px;"></mat-divider>
            <mat-form-field class="form-fit">
                <mat-label>Font Color</mat-label>
                <input type="color" matInput name="color-font" formControlName="color" />
                <mat-hint>Select a font color.</mat-hint>
            </mat-form-field>
            <mat-form-field class="form-fit">
                <mat-label>Background Color</mat-label>
                <input type="color" matInput name="color-background" formControlName="background-color" />
                <mat-hint>Select a background color.</mat-hint>
            </mat-form-field>
            <mat-form-field class="form-fit">
                <mat-label>Borders Color</mat-label>
                <input type="color" matInput name="color-borders" formControlName="border-color">
                <mat-hint>Select a border color.</mat-hint>
            </mat-form-field>
            <mat-divider class="card-divider"></mat-divider>
            <div style="text-align: right; margin: 10px;">
                <button mat-raised-button type="submit" [disabled]="!form.appearance.valid"
                    color="primary">Update</button>
            </div>
        </mat-expansion-panel>
    </form>
    <mat-divider [ngStyle]="{'border-color': form.appearance.value['border-color']}"
        style="border-width: 3px;"></mat-divider>
    <form [formGroup]="form.behaviour" (ngSubmit)="onSubmit(form.behaviour)">
        <mat-divider class="card-divider"></mat-divider>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="header">Behaviour</div>
                </mat-panel-title>
                <mat-panel-description>
                    Modify bot functionality.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-checkbox class="form-fit-half" [checked]="form.behaviour.value['auto-shoutouts']"
                formControlName="auto-shoutouts">Auto
                Shoutouts</mat-checkbox>
            <mat-checkbox class="form-fit-half" [checked]="form.behaviour.value['badge-vip']"
                formControlName="badge-vip">Badge
                Vip</mat-checkbox>
                <mat-divider></mat-divider>
                <mat-card-title>Commands</mat-card-title>
                <mat-selection-list #commandsList formControlName="commands">
                    <mat-list-option *ngFor="let command of commands" [value]="command" [disabled]="command == 'so'">
                      {{command}}
                    </mat-list-option>
                  </mat-selection-list>
            <mat-divider class="card-divider"></mat-divider>
            <div style="text-align: right; margin: 10px;">
                <button mat-raised-button type="submit" [disabled]="!form.behaviour.valid"
                    color="primary">Update</button>
            </div>
        </mat-expansion-panel>
    </form>
    <form [formGroup]="form.bits" (ngSubmit)="onSubmit(form.bits)">
        <mat-divider class="card-divider"></mat-divider>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="header">Bits</div>
                </mat-panel-title>
                <mat-panel-description>
                    Bits to move items.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-checkbox class="form-fit" [checked]="form.bits.value['enable-bits']"
                formControlName="enable-bits">Enable
                Bits</mat-checkbox>
            <mat-form-field class="form-fit" *ngIf="form.bits.value['enable-bits'] === true">
                <mat-label>Select a Tier</mat-label>
                <mat-select formControlName="bits-tier">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="form-fit" *ngIf="form.bits.value['enable-bits'] === true">
                <mat-label>Pin Days ({{form.bits.value['pin-days']}} days)</mat-label>
                <mat-slider style="text-align: center; min-width: 95%;" min="1" max="5" step="1">
                    <input matSliderThumb formControlName="pin-days">
                </mat-slider>
            </div>
            <mat-divider class="card-divider"></mat-divider>
            <div style="text-align: right; margin: 10px;">
                <button mat-raised-button type="submit" [disabled]="!form.bits.valid" color="primary">Update</button>
            </div>
        </mat-expansion-panel>
    </form>
</section>